<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost's Blog</title>
    <!-- <script src="JS/vue-dev.js"></script> -->
    <link href="CSS/default.min.css" rel="stylesheet">
    <script src="JS/mermaid.min.js"></script>
    <script src="JS/highlight.min.js"></script>
    <script src="JS/vue.js"></script>
    <link href="CSS/bootstrap.min.css" rel="stylesheet">
    <link href="CSS/fontstyle.css" rel="stylesheet">
    <script src="JS/bootstrap.bundle.min.js"></script>
    <script src="JS/marked.min.js"></script>
    <script src="JS/axios.min.js"></script>
</head>

<body style="font-family:HYCuYuanJ">
    <div id="App" :class="'container-fluid bg-'+WebSiteConfig.AppColor+' text-'+judgeColorChangeFontColor(WebSiteConfig.AppColor)">
        <div class="row offset-1 col-10" style="padding-top: 2.5rem;">
            <div class="text-center">
                <h1>
                    RedCrazyGhost's Blog
                </h1>
            </div>
            <div>
                <div class="input-group">
                    <select v-model="targeMD" class="form-select" id="inputGroupSelect04"
                        aria-label="Example select with button addon">
                        <option selected>Choose...</option>
                        <option v-for="(i,k) in Blogs">{{i}}</option>
                    </select>
                    <button v-on:click="getMarkDown" :class="this.WebSiteConfig.AppColor=='dark'? 'btn btn-outline-warning':'btn btn-outline-primary'" type="button">Button</button>
                </div>
                <div>
                    <div v-show="isWarning" class="text-danger">请选择正确的名称！</div>
                </div>
            </div>

            <div style="margin-top:2.5rem;">
                <div id="markdown">
                </div>
            </div>
        </div>
        <nav :class="'by-4 navbar navbar-'+WebSiteConfig.AppColor+' bg-'+WebSiteConfig.AppColor">
            <div class="container">
                <span class="navbar-text">2022 © {{WebSiteConfig.AppAuthor.name}}</span>
                <a class="nav-link navbar-text" href="http://beian.miit.gov.cn/">鄂ICP备19031343号-1</a>
                <span class="navbar-text">Web Site Version:{{WebSiteConfig.AppVersion}}</span>
            </div>
        </nav>
    </div>

</body>
<script src="JS/AppVue.js"></script>
</html>